body {
  background-color: #B1FFBA;
}

#projectsCarousel {
  width: 60%;
  height: 60%;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Rammetto One", cursive;
  color: #7120E8;
}

img {
  width: 100%;
  /* height: 30%; */
}

/* div img {
  width: 100%;
} */
