body {
  background-color: #B1FFBA;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2.5em;
  color: white;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.hamburger, .hamburger:focus {
  color: white;
  font-size: 27px;
  padding: 10px 20px;
  display: none;
}

.hamburger-menu {
  margin-top: 4em;
  background: black;
  color: white;
  text-decoration: none;
  position: fixed;
  top: 25;
  width: 100%;
  z-index: 1000;
}

.hamburger-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.hamburger-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  text-align: center;
}

.hamburger:hover {
  color: green;
}

footer {
  font-size: 2em;
  color: white;
  background-color: black;
}

.testimonial-div {
  width: 70%;
  font-size: 1.4em;
}

.left-column p, .right-column p {
  font-size: 1.4em;
}

.spacing-for-nav {
  height: 3em;
}

header nav a, header nav a:focus {
  color: white;
  margin: auto 1em;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid green;
}

a.active {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid green;
}

#profile-pic {
  width: 30%;
  height: 30%;
}

#projectsCarousel {
  width: 80%;
  height: 80%;
}

.wrapper{
  padding-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0em;

}

h1 {
  font-family: "Rammetto One", cursive;
  color: #7120E8;
  /* margin-top: 2.5em; */
}

h2 {
  color: #7120E8;
}

img {
  width: 100%;
  /* height: 30%; */
}

.two-column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-column, .right-column {
  width: 35%;
  /* text-align: center; */
}

.col-third {
	width: 31%;
	margin: 0em 0.6em;
}

.leave-a-comment-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* justify-content: space-around; */
}

form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

button:hover {
  background-color: green;
  color: white;
  font-weight: 600;
}

.error {
	border: 2px solid #ED5254;
}

.error-message {
	margin: -5px 0 12px;
	text-align: left;
	font-size: 1em;
	color: #ED5254;
	display: none;
	width: 100%;
}

.form-group input, .form-group:last-of-type {
	width: 100%
}

.form-group {
  margin-bottom: 0.2em;
}

#leave-comment {
  text-align: center;
}

.form-button {
	width: 96.8%;
	/* padding-left: 7px; */
}

input {
  outline: 0;
  border: 2px solid #44545E;
  color: #44545E;
  padding: 8px 25.5px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1.2px;
  margin: 0.2em;
}

textarea {
  width: 96.5%;
  outline: 0;
  border: 2px solid #44545E;
  color: #44545E;
  padding: 8px 25.5px;
	/* padding: 8px 25.5px 8px 40px ; */
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1.2px;
  margin: 0em 0.2em 0.2em 1.6em;
}

button {
  cursor: pointer;
  outline: 0;
  border: 2px solid #44545E;
  color: #44545E;
  padding: 8px 25.5px;
  background-color: white;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.2px;
  margin-bottom: 2em;
}

textarea+p.error-message {
  margin-left: 1.3em;
}

@media screen and (max-width: 926px) {
/* @media screen and (max-width: 560px) { */
  .hamburger {
    display: inline-block;
  }

  nav {
    display: none;
  }

  .col-third {
    width: 96.5%;
  }

  .two-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-column, .right-column {
    width: 90%;
  }

  textarea {
    margin: 0em 0.2em 0.2em 0.6em;
  }

  form {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	align-content: center;
  	flex-wrap: wrap;
  }
}
